html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; 
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

.form-control:-moz-placeholder {
  color: #999999; }
.form-control::-moz-placeholder {
  color: #999999; }
.form-control:-ms-input-placeholder {
  color: #999999; }
.form-control::-webkit-input-placeholder {
  color: #999999; }
  
.form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857;
  color: #9c9b9b;
  background-color: #fff;
  border: 1px solid #d6d4d4;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; 
  resize: vertical }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input,
select[multiple],
textarea {
  background-image: none; }

a {
  transition: 0.4s all ease;
  color: #353645;
  text-decoration: none; }
  a:hover, a:focus {
    color: #353645;
    text-decoration: none; }
  a:focus {
    outline: none; }
  a:hover {
    color: #f05c50;
  }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail, .thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0; }

p {
  margin: 0 0 9px; }

.lead {
  margin-bottom: 18px;
  font-size: 14.95px;
  font-weight: 200;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .lead {
      font-size: 19.5px; } }

small {
  font-size: 85%; }

cite {
  font-style: normal; }

.text-muted {
  color: #999999; }

.text-primary {
  color: #428bca; }

.text-warning {
  color: #fff; }

.text-danger {
  color: #fff; }

.text-success {
  color: #fff; }

.text-info {
  color: #fff; }

.text-left {
  text-align: left; }

.text-right, #cart_summary tbody td.cart_unit, #cart_summary tbody td.cart_total {
  text-align: right; }

.text-center, #cart_summary thead th.cart_product, #cart_summary tbody td.cart_product, #cart_summary tbody td.cart_avail, #cart_summary tbody td.cart_delete {
  text-align: center; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  line-height: 1.2; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
  .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1,
h2,
h3 {
  margin-top: 18px;
  margin-bottom: 9px; }

h4,
h5,
h6 {
  margin-top: 9px;
  margin-bottom: 9px; }

h1, .h1 {
  font-size: 33px; }

h2, .h2 {
  font-size: 27px; }

h3, .h3 {
  font-size: 23px; }

h4, .h4 {
  font-size: 17px; }

h5, .h5 {
  font-size: 13px; }

h6, .h6 {
  font-size: 12px; }

h1 small, .h1 small {
  font-size: 23px; }

h2 small, .h2 small {
  font-size: 17px; }

h3 small, .h3 small,
h4 small, .h4 small {
  font-size: 13px; }

.page-header {
  padding-bottom: 8px;
  margin: 36px 0 18px;
  border-bottom: 1px solid #eeeeee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 9px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

dl {
  margin-bottom: 18px; }

dt,
dd {
  line-height: 1.42857; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/**
 * Swiper 4.0.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 7, 2017
 */
.swiper-container{margin:0 auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform}.swiper-invisible-blank-slide{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-transition-property:height,-webkit-transform;transition-property:height,-webkit-transform;-o-transition-property:transform,height;transition-property:transform,height;transition-property:transform,height,-webkit-transform}.swiper-container-3d{-webkit-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-wp8-horizontal,.swiper-container-wp8-horizontal>.swiper-wrapper{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-container-wp8-vertical,.swiper-container-wp8-vertical>.swiper-wrapper{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ec5b50'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f05c50'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s opacity;-o-transition:.3s opacity;transition:.3s opacity;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transform:scale(.33);-ms-transform:scale(.33);transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{-webkit-transform:scale(.66);-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{-webkit-transform:scale(.33);-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{-webkit-transform:scale(.66);-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{-webkit-transform:scale(.33);-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:#f05c50}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;-webkit-transition:.2s top,.2s -webkit-transform;transition:.2s top,.2s -webkit-transform;-o-transition:.2s transform,.2s top;transition:.2s transform,.2s top;transition:.2s transform,.2s top,.2s -webkit-transform}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:.2s left,.2s -webkit-transform;transition:.2s left,.2s -webkit-transform;-o-transition:.2s transform,.2s left;transition:.2s transform,.2s left;transition:.2s transform,.2s left,.2s -webkit-transform}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:.2s right,.2s -webkit-transform;transition:.2s right,.2s -webkit-transform;-o-transition:.2s transform,.2s right;transition:.2s transform,.2s right;transition:.2s transform,.2s right,.2s -webkit-transform}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#f05c50;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-ms-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{-webkit-transform-origin:right top;-ms-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-progressbar.swiper-pagination-white{background:rgba(255,255,255,.25)}.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-pagination-progressbar.swiper-pagination-black{background:rgba(0,0,0,.25)}.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill{background:#000}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;-o-object-fit:contain;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-ms-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:'';width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}

/* BEGIN THEME */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #FFF;
    overflow-x: hidden;
    position: relative;
    font-weight: 400;
    color: #353645;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol {
    margin-bottom: 0;
}

.mobile {
    display: none;
}

.form-group {
    margin-bottom: 0;
}

/* BEGIN ICONS */
@font-face {
  font-family: "Flaticon";
  src: url("./../fonts/Flaticon.eot");
  src: url("./../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./../fonts/Flaticon.woff") format("woff"),
       url("./../fonts/Flaticon.ttf") format("truetype"),
       url("./../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-list:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-grid:before { content: "\f103"; }
.flaticon-planet-earth:before { content: "\f104"; }
.flaticon-price-tag:before { content: "\f105"; }
.flaticon-home:before { content: "\f106"; }
.flaticon-like:before { content: "\f107"; }
/* END ICONS */

/* BEGIN BUTTONS */
a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    padding: 17px 45px 14px 45px;
    background-color: #ec5b50;
    color: #FFF;
    transition: all 0.4s ease;
    border: none;
    outline: none;
    border-radius: 5px;
    white-space: nowrap;
}

.btn:hover {
    background-color: #383745;
    color: #FFF;
}

.btn-gradient {
    background: rgb(240,92,80); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(240,92,80,1) 0%, rgba(53,54,69,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(240,92,80,1) 0%,rgba(53,54,69,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(240,92,80,1) 0%,rgba(53,54,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05c50', endColorstr='#353645',GradientType=1 ); /* IE6-9 */
}

.btn-gradient:hover {
    background: rgb(240,92,80); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(53,54,69,1) 0%, rgba(240,92,80,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(53,54,69,1) 0%, rgba(240,92,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,rgba(53,54,69,1) 0%, rgba(240,92,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353645', endColorstr='#f05c50',GradientType=1 ); /* IE6-9 */
}

.btn-rect,
.btn-rect:active,
.btn-rect:focus,
.btn-rect:visited {
  border-radius: 0;
}

.btn.btn-dark {
  background-color: #353645;
}

.btn.btn-dark:hover,
.btn.btn-dark:focus {
  color: #ec5b50;
}

button {
  padding: 0 7px;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  width: auto;
  overflow: visible;
  background: transparent;
  text-align: inherit;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-transform: uppercase
}

button:hover {
  color: #f05c50;
}

.btn.btn-search,
.btn.btn-search:focus,
.btn.btn-search:active {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 6px 20px;
}

.btn.btn-search span {
  position: absolute;
  text-indent: -9999px;
}

.btn.btn-search:before {
  content: "\f100";
  font-family: "Flaticon";
  font-size: 15px;
}
/* END BUTTONS */

/* BEGIN ALERTS */
.alert {
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  border-radius: 0px; }
  .alert h4 {
    margin-top: 0;
    color: inherit; }
  .alert .alert-link {
    font-weight: bold; }
  .alert > p,
  .alert > ul {
    margin-bottom: 0; }
  .alert > p + p {
    margin-top: 5px; }

.alert-dismissable {
  padding-right: 35px; }
  .alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.alert-success {
  background-color: #55c65e;
  border-color: #48b151;
  color: #fff; }
  .alert-success hr {
    border-top-color: #419f49; }
  .alert-success .alert-link {
    color: #e6e6e6; }

.alert-info {
  background-color: #5192f3;
  border-color: #4b80c3;
  color: #fff; }
  .alert-info hr {
    border-top-color: #3d73b7; }
  .alert-info .alert-link {
    color: #e6e6e6; }

.alert-warning {
  background-color: #fe9126;
  border-color: #e4752b;
  color: #fff; }
  .alert-warning hr {
    border-top-color: #da681c; }
  .alert-warning .alert-link {
    color: #e6e6e6; }

.alert-danger {
  background-color: #f3515c;
  border-color: #d4323d;
  color: #fff; }
  .alert-danger hr {
    border-top-color: #c32933; }
  .alert-danger .alert-link {
    color: #e6e6e6; }
/* END ALERTS */

/* BEGIN LAYOUT */
.section {
  display: block;
  position: relative;
  margin-bottom: 120px;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

.container .row {
  display: table;
  width: 100%;
  min-height: 30px;
  position: relative;
}

.col {
  position: relative;
  float: left;
  display: block;
}

.col-3 {
  width: 25%;
  padding-right: 15px;
}

.col-9 {
  width: 75%;
  padding-left: 15px;
}

.col-4 {
  width: 33.33333%;
}

.col-6 {
  width: 50%;
}
/* END LAYOUT */

.site-logo {
    float: left;
}

.site-logo a {
    display: block;
    padding: 15px 35px;
}

.fancybox-title {
  display: none;
}
  
/* BEGIN HEADER */
.toppanel {
    position: fixed;
    top: 0;
    display: block;
    z-index: 999;
    width: 100%;
    text-transform: uppercase;
    background: #353645;
    transition: background 0.4s ease;
}

.index .toppanel {
  background: transparent; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.index .toppanel.dark {
  background: #353645;
}

.toppanel .container {
    padding: 15px;
}

.toppanel__menu {
    display: block;
    float: right;
    margin-top: 7px;
}

.toppanel__menu-list {
    list-style-type: none;
    display: table;
}

.toppanel__menu-list>li {
    float: left;
}

.toppanel__menu-list>li.active a {
  color: #ec5b50;
}

.toppanel__menu-list>li.mobile {
    display: none;
}

.toppanel__menu-list>li:not(:first-child) {
    margin-left: 7px;
}

.toppanel__menu-list>li,
.toppanel__menu-list>li>a,
.toppanel__menu-list>li>span,
.languages-block,
.languages-block-top ul a,
.languages-block-top ul li.selected span{
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    color: #FFF;
}

.toppanel__menu-list>li>a,
.toppanel__menu-list>li>span,
.languages-block {
    display: block;
    transition: 0.4s color ease;
}

.toppanel__menu-list>li>a:hover,
.toppanel__menu-list .languages-block:hover {
    color: #f05c50;
}

.languages-block {
    cursor: pointer;
    display: block;
    position: relative;
}

.languages-block:hover > ul {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.languages-block-top ul {
    display: block;
    position: absolute;
    left: 0;
    top: 47px;
    width: 120px;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.languages-block-top ul a {
    transition: 0.4s color ease;
}

.languages-block-top ul a:hover {
    color: #f05c50;
}

/* BEGIN MOBILE MENU */

.toggle-nav__line, .toggle-nav__line:before, .toggle-nav__line:after {
  position: absolute;
  content: "";
  display: block;
  background-color: #ec5b50;
  width: 35px;
  height: 3px;
  margin: auto;
  transition: all 0.4s ease;
}

.toggle-nav__line {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.toggle-nav__line:before {
  transform: translateY(9px);
  -webkit-transform: translateY(9px);
}

.toggle-nav__line:after {
  transform: translateY(-9px);
  -webkit-transform: translateY(-9px);
}
/* END MOBILE MENU */

/* END HEADER */

/* BEGIN CONTENT */
.content {
  padding-top: 102px;
}

.index .content {
  padding-top: 0;
}

.content .container {
    padding: 100px 15px; 
}

.index .content .container .row,
.cms .content .container .row {
    display: block;
}

.section-header {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    color: #353645;
}

.section-header:after {
    content: '';
    width: 50px;
    height: 3px;
    display: inline-block;
    position: relative;
    top: -10px;
    border-radius: 25%;
    background: rgb(240,92,80); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(240,92,80,1) 0%, rgba(53,54,69,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(240,92,80,1) 0%,rgba(53,54,69,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(240,92,80,1) 0%,rgba(53,54,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05c50', endColorstr='#353645',GradientType=1 ); /* IE6-9 */
}

/* BEGIN SECTION-HEADER */
.section-header__subheading,
.section-header__heading {
    margin: 0;
    letter-spacing: -1.5px;
}

.section-header__subheading {
    font-size: 18px;
}

.section-header__heading {
    font-size: 47px;
    font-weight: bold;
}
/* END SECTION-HEADER */

/* BEGIN SWIPER SLIDER COMMONS */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    outline: none;
}
/* BEGIN SWIPER SLIDER COMMONS */

/* BEGIN HOMESLIDER */
.homeslider.swiper-container {
    height: 100vh;
    min-height: 500px;
    box-shadow: 0 3px 20px 0px rgba(0,0,0,.4);
}

.homeslider .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.homeslider .swiper-button-next {
    right: 1.5vw;
}

.homeslider .swiper-button-prev {
    left: 1.5vw;
}

.homeslider .swiper-wrap {
    display: block;
    max-width: 1170px;
    padding: 50px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    top: -5vh;
}

.homeslider .swiper-wrap h1,
.homeslider .swiper-wrap h2,
.homeslider .swiper-wrap h3 {
    margin: 0;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    position: relative;
}

.homeslider .swiper-wrap h1 {
    display: block;
    font-size: calc(35px + (70 - 35) * ((100vw - 320px) / (1170 - 300)));
    top: -0.7vw;
}

.homeslider .swiper-wrap h2 {
    display: block;
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1170 - 300)));
    letter-spacing: 0.5vw;
}

.homeslider .swiper-wrap h3 {
    display: inline-block;
	background-color: #f05c50;
    font-size: calc(11px + (15.5 - 11) * ((100vw - 320px) / (1170 - 300)));
    padding: 3px 10px 3px 10px;
    top: -0.7vw;
}
/* END HOMESLIDER */

/* BEGIN CATEGORYSLIDER */
.categoryslider {
  display: block;
  position: relative;
}

.categoryslider__item {
    background-color: #353645;
    border-radius: 5px;
    transition: 0.4s all ease;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.categoryslider__img {
    width: 100%;
    height: 290px;
    transition: 0.4s all ease;
    z-index: 1;
    border-radius: 5px;
}

.categoryslider__title {
    color: #FFF;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin: auto;
    padding: 25px 15px;
    transition: 0.4s all ease;
}

.categoryslider__item:hover {
  background-color: #ee5c50;
}

.categoryslider__item:hover .categoryslider__img {
  opacity: 0.9;
}

.categoryslider__item:hover .categoryslider__title {
  color: #ee5c50;
}

.categoryslider .swiper-button-prev {
    left: -50px;
}

.categoryslider .swiper-button-next {
    right: -50px;
}

.categoryslider .swiper-button-next.swiper-button-disabled,
.categoryslider .swiper-button-prev.swiper-button-disabled {
    visibility: hidden;
    display: none;
}

.btn-wrapper {
    text-align: center;
    margin-top: 60px;
}
/* END CATEGORYSLIDER */

/* END CONTENT */

/* BEGIN HOMEFORM */
.homeform {
    background-image: url(../img/homeform-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeform .container {
    padding: 65px 0;
}

.homeform .section-header {
    color: #FFF;
}

.homeform .section-header:after {
    background-image: none;
    background-color: #ee5c50;
}

.homeform form {
    display: block;
    max-width: 790px;
    margin: 0 auto 80px auto;
}

.homeform form .form-control {
    background-color: #FFF;
    border: 2px solid white;
    position: relative;
    box-shadow: none;
    outline: none;
    margin-bottom: 15px;
    color: #000;
    font-size: 14px;
    line-height: 1;
    height: auto;
    padding: 8px 10px;
}

.homeform input::placeholder,
.homeform textarea::placeholder {
    text-transform: uppercase;
}

.homeform textarea {
    min-height: 100px;
}

.homeform .textarea-group {
    margin: 0 20px 40px 20px;
}

.homeform .form-row {
    display: flex;
    flex: 1;
}

.homeform .form-row .form-group {
    flex: 1;
    margin: 0 20px;
}

.homeform .btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    background-color: #ec5b50;
}

.g-recaptcha>div {
    margin: 0 auto 40px auto; 
}
/* END HOMEFORM */

/* BEGIN CMSINFO_BLOCK */
#cmsinfo_block {
  display: table;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: url(../img/services-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 3px 20px 0px rgba(0,0,0,.4);
}

#cmsinfo_block .container {
  padding: 0;
  display: table;
  width: 1170px;
}

#cmsinfo_block .row {
  display: table;
}

.servicebox {
  position: relative;
  display: block;
  text-align: center;
  padding: 70px 15px;
  text-transform: uppercase;
}

.servicebox:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}

.servicebox:hover:before {
  visibility: visible;
  opacity: 1;
}

.servicebox i {
  margin-bottom: 30px;
  line-height: 1;
  display: block;
}

.servicebox [class^="flaticon-"]:before,
.servicebox [class*=" flaticon-"]:before,
.servicebox [class^="flaticon-"]:after,
.servicebox [class*=" flaticon-"]:after {
  font-size: 110px;
  color: #ec5b50;
}

.servicebox h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 0.9;
  margin: 0;
  color: #ffffff;
  word-spacing: 100vw;
}
/* END CMSINFO_BLOCK */

/* BEGIN MANUFACTURERSLIDER */
.section-manufacturers {
  padding-top: 70px;
  margin-bottom: 0;
}

.manufacturerslider {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  position: relative;
}

.manufacturerslider .swiper-container {
  width: 100%;
  height: 100%;
}

.manufacturerslider__item {
  display: block;
  text-align: center;
}

.manufacturerslider__img {
  display: inline-block;
  height: 120px;
}

.manufacturerslider .swiper-button-prev {
  left: -45px;
}

.manufacturerslider .swiper-button-next {
  right: -45px;
}
/* END MANUFACTURERSLIDER */

/* BEGIN FOOTER */
#footer {
    background-color: #ec5b50;
    text-transform: uppercase;
}

#footer .site-logo {
    margin-right: 15px;
}

#footer .site-logo a {
    padding: 20px 10px 20px 35px;
}

#footer .site-logo img {
    filter: brightness(0) invert(1);
}

#footer .toppanel__menu {
    float: left;
    margin-top: 10px;
}

#footer .toppanel__menu-list li a:hover,
#footer .toppanel__menu-list>li.active a {
    color: #353645;
}


#footer .toppanel__menu-list li:last-child {
    display: none;
}
/* END FOOTER */

/* BEGIN SECTION TITLE */
.section-title {
  position: relative;
  background-image: url(../img/wholesale-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 3px 20px 0px rgba(0,0,0,.4);
  text-align: center;
  margin-bottom: 0;
}

.category .section-title,
.product .section-title {
  background-image: url(../img/products-bg.jpg);
}

.section-title .container {
  margin: 0 auto;
  padding: 0;
}

.page-title {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  line-height: 1.2;
  padding: 80px 0 75px 0;
  font-weight: bold;
}

.page-title a {
  color: #fff;
}

.navigation-pipe {
  margin: 0 10px;
}
/* END SECTION TITLE */

/* CATEGORY PAGE */
.sortPagiBar {
  display: block;
  padding-bottom: 5px;
  overflow: hidden;
  border-bottom: 1px solid #ec5b50;
  margin-bottom: 30px;
}

.grid-list-buttons {
  display: block;
  float: right;
}

.toggle-filters {
  display: none;
}

.close_enabled_filters {
  display: none;
}

.grid-list-buttons li {
  display: inline-block;
}

.grid-list-buttons li:not(:first-child) {
  margin-left: 5px;
}

.grid-list-buttons li a {
  display: block;
  padding: 0 7px;
}

.grid-list-buttons li a:hover {
  color: #1C1D2C;
  background-color: rgba(0,0,0,.15);
}

.grid-list-buttons li.selected a {
  color: #ec5b50;
}

.productsSortForm {
  float: left;
}

.productsSortForm .select,
.productsSortForm .selector,
.productsSortForm .selectProductSort {
  font-size: 13px;
  text-transform: uppercase;
  color: #9698a8;
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
}

.productsSortForm .selectProductSort {
  cursor: pointer;
}

.productsSortForm .selector>span {
  display: none;
}

.productsSortForm .selector {
  width: auto !important;
}

.productsSortForm .selector.focus {
  background-color: rgba(0,0,0,.02);
}

.productsSortForm .selectProductSort {
  border: 0 !important;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDAwMDAiLz4KICA8L2c+Cjwvc3ZnPgo=") no-repeat;
  background-size: 10px;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: transparent;
}

#enabled_filters {
  display: block;
  margin-bottom: 20px;
}

.layered_filter {
  line-height: 1.2;
}

.layered_filter li {
  display: block;
  margin-bottom: 15px;
}

.title_block {
  margin-bottom: 5px;
}

.title_block,
.layered_subtitle_heading,
#layered_block_left .layered_subtitle {
  font-size: 18px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.layered_filter a {
  font-size: 17px;
  padding-left: 5px;
}

.layered_filter_ul {
  margin-bottom: 20px;
}

.layered_subtitle_heading {
  color: #f05c50;
  border-bottom: 1px solid #f05c50;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

input[type=checkbox] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}

.checker {
  display: inline-block;
}

.checker>span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px solid rgba(0,0,0,.1);
  position: relative;
}

.checker>span.checked {
  background: #f05c50;
  border-color: #f05c50;
}

.checker>span.checked:after {
  content: '\2713';
  line-height: 1;
  color: #FFFFFF;
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.product_list li {
  margin-bottom: 20px;
}

/* BEGIN PRODUCT MODULE */
.productitem {
  display: table;
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);
  text-align: center;
}

.product__img {
  width: 245px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.product__name,
.product__manufacturer {
  font-size: 21px;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

.product__manufacturer {
  font-size: 13px;
}

.product__img-link,
.product__content,
.button-container {
  display: table-cell;
  vertical-align: top;
}

.product__content,
.button-container {
  padding: 25px;
}

.product__content {
  text-align: left;
  font-size: 13px;
}

.button-container {
  padding-right: 50px;
  width: 130px;
  overflow: hidden;
}

.button-container .btn:not(:last-child) {
  margin-bottom: 12px;
}

.product__img-link {
  width: 250px;
  height: 275px;
  position: relative;
  display: table-cell;
}

.productitem .btn {
  display: block;
  font-size: 13px;
  padding: 23px 32px;
}

.product_list.grid li {
  float: left;
  width: calc(33.33% - 20px);
}

.product_list.grid li:nth-child(3n+2) {
  margin-left: 30px;
  margin-right: 30px;
}

.product_list.grid .productitem {
  padding: 25px;
}

.product_list.grid li .product__img-link {
  width: 100%;
  display: block;
  height: 235px;
}

.product_list.grid li .product__img {
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  -webkit-transform: none;
}

.product_list.grid li .product__content {
  text-align: center;
  display: block;
}

.product_list.grid li .product__content,
.product_list.grid li .button-container,
.product_list.grid li .product__img-link {
  padding: 0;
}

.product_list.grid li .product__name {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}

.product_list.grid li .product__manufacturer {
  display: none;
}

.product_list.grid li .product__description {
  display: none;
}

.product_list.grid li .button-container {
  width: 100%;
  display: block;
}
/* END PRODUCT MODULE */

/* BEGIN PAGINATION */
.pagination {
  text-transform: uppercase;
  color: #9698a8;
  padding-top: 15px;
  margin-top: 10px;
  border-top: 1px solid #f05c50;
}

.pagination a {
  color: #9698a8;
}

.pagination a:hover {
  color: #f05c50;
}

.pagination__list,
.pagination__list li,
.pagination .showall,
.product-count {
  float: left;
}

.pagination__list li.active {
  color: #000;
  font-weight: bold;
}

.pagination__list li {
  padding: 0 10px;
}

.product-count {
  float: right;
}
/* END PAGINATION */

/* BEGIN CMS PAGE */
.rte {
  display: block;
  border-bottom: 1px solid #ee5c50;
  font-size: 13px;
  padding-bottom: 15px;
}

.rte img {
  display: inline-block;
}

.rte p {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  min-width: 260px;
}

.rte p br {
  display: block;
  content: '';
  line-height: 30px;
  margin: 25px 0;
}

.cms .section-manufacturers {
  padding-bottom: 70px;
}

.cms .content > .container {
  padding-bottom: 0;
  margin-bottom: -23px;
}
/* END CMS PAGE */

/* BEGIN SINGLE PRODUCT PAGE */
#views_block {
  width: 70px;
  display: block;
  overflow: hidden;
  float: left;
}

#thumbs_list li {
  display: block;
  border: 1px solid #ddd;
  transition: all 0.4s ease;
}

#thumbs_list li:hover {
  border-color: #353645;
}

#thumbs_list li:not(:last-child) {
  margin-bottom: 15px;
}

#thumbs_list li a {
  display: block;
  padding: 5px;
}

#image-block {
  float: left;
  display: block;
  overflow: hidden;
  width: calc(100% - 130px);
  border: 1px solid #ddd;
  margin: 0 30px;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 30px;
}

#image-block:hover {
  border-color: #353645;
}

#image-block img {
  max-height: 390px;
}

.product .productitem {
  border: none;
  text-align: left;
  padding: 0 30px;
}

.product .product__name {
  font-size: 35px;
  line-height: 0.8;
  margin-bottom: 5px;
}

.product .product__manufacturer {
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.product .product__description {
  font-size: 13px;
  margin-bottom: 30px;
}

.product .button-container {
  width: auto;
  padding: 0;
}

.product .productitem .btn {
  display: inline-block;
}

.product .button-container .btn:not(:last-child) {
  margin-bottom: 0;
  margin-right: 15px;
}

.product .page-product-box {
  display: none;
}

.product .page-product-box .product__description {
  margin-bottom: 0;
  padding: 100px 0 70px 0;
}
/* END SINGLE PRODUCT PAGE */

.breadcrumbs {
  list-style-type: none;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.breadcrumbs [class^="flaticon-"]:before,
.breadcrumbs [class*=" flaticon-"]:before,
.breadcrumbs [class^="flaticon-"]:after,
.breadcrumbs [class*=" flaticon-"]:after {
  font-size: 13px;
}

.breadcrumbs li {
  display: inline-block;
  background: rgba(0,0,0,0.2);
  transition: all 0.4s ease;
}

.breadcrumbs li:not(:first-child) {
  margin-left: 5px;
}

.breadcrumbs li:hover {
  background-color: rgba(0,0,0,0.1);
}

.breadcrumbs li a,
.breadcrumbs li span {
  display: block;
  color: #353645;
  padding: 10px;
}

.breadcrumbs li span {
  font-weight: bold;
}

/* BEGIN CONTACT PAGE */
.fancybox-inner {
  z-index: 9999;
}

.contact .homeform,
.fancybox-inner .homeform {
  background-image: none;
}

.homeform__title {
  text-transform: uppercase;
  display: block;
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

.contact .homeform form .form-control,
.fancybox-inner .homeform form .form-control {
  border: 1px solid rgba(0,0,0,0.1);
}

.contact .homeform form .form-control:focus,
.fancybox-inner .homeform form .form-control:focus {
  border: 1px solid #000;
}

.fancybox-inner .homeform form  {
  margin: 30px 0;
}
/* END CONTACT PAGE */

/* BEGIN SEARCH */
.page-heading.product-listing {
  margin-top: 0;
  margin-bottom: 25px;
}

#searchbox {
  position: relative;
  margin-bottom: 25px;
}

.search_query.form-control {
  padding-right: 70px;
}

.page-heading.product-listing {
  font-size: 30px;
}
/* END SEARCH */

/* BEGIN OTHER FILES */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.replace-2x {
		font-size: 1px;
	}
	.example {
		background-image: url(../images/example2x.png);
		-webkit-background-size:13px 13px;
		-moz-background-size:13px 13px;
		-o-background-size:13px 13px;
		background-size:13px 13px;
	}
}
/* END OTHER FILES */

/* END THEME */