/* BEGIN MOBILE MENU */
#header .mobile {
    display: block;
}

#header .toppanel__menu-list {
    display: block;
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    height: 0;
    width: 280px;
    padding: 80px 20px 20px 20px;
    top: 0;
    bottom: 0;
    background-color: #353645;
    right: 0;
    z-index: 999;
    box-shadow: -5px 0px 30px -5px rgba(0,0,0,.4);
    transition: 0.4s all cubic-bezier(0.2, 0, 0.065, 0.25);
}

#header .toppanel__menu-list.opened {
    visibility: visible;
    height: 100%;
}

#header .toppanel__menu-list>li {
    display: block;
    width: 100%;
    float: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 5px;
    text-align: center;
}

#header .toppanel__menu-list>li>a, #header .toppanel__menu-list>li>span, #header .languages-block,
#header .languages-block .languages-block-top ul a, #header .languages-block-top ul li.selected span{
    padding: 0
}

#header .languages-block {
    display: block;
    overflow: hidden;
}

#header .languages-block-top ul {
    top: 0;
    display: inline-block !important;
    position: relative;
    width: auto;
    text-align: center;
}

#header .languages-block-top .current {
    color: #f05c50;
    display: inline-block;
    pointer-events: none;
    cursor: default;
}

.toggle-nav {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 9999;
    cursor: pointer;
}

.toggle-nav__line, .toggle-nav__line:before, .toggle-nav__line:after {
    position: absolute;
    content: '';
    display: block;
    background-color: #ec5b50;
    width: 35px;
    height: 3px;
    margin: auto;
    transition: all 0.4s ease;
}

.toggle-nav__line {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.toggle-nav__line:before {
    transform: translateY(9px);
}

.toggle-nav__line:after {
    transform: translateY(-9px);
}
/* END MOBILE MENU */

.section-categories {
    margin-bottom: 50px;
}

.btn, .btn:active, .btn:focus, .btn:visited {
    font-size: 12px;
    padding: 12px 20px 10px 20px;
}

.content .container, .homeform .container {
    padding: 45px 50px;
}

.site-logo a {
    padding: 10px;
}

.categoryslider__title {
    font-size: 12px;
    padding: 12px;
}

.content .swiper-button-next,
.content .swiper-button-prev {
    width: 21px;
    height: 34px;
    background-size: cover;
}

.section-manufacturers {
    padding-top: 45px;
}

.manufacturerslider__img {
    height: 100px;
}

.btn-wrapper {
    margin-top: 30px;
}

.toppanel__menu-list>li, .toppanel__menu-list>li>a, .toppanel__menu-list>li>span, .languages-block, .languages-block-top ul a, .languages-block-top ul li.selected span {
    font-size: 13px;
    padding: 10px 5px;
}

.content {
    padding-top: 92px;
}

.homeform form, .section-header {
    margin-bottom: 25px;
}

.homeform form .form-control {
    font-size: 12px;
}

.homeform .textarea-group {
    margin-bottom: 30px;
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .site-logo {
    display: block;
    float: none;
    margin-right: 0;
}

#footer .site-logo a {
    padding: 10px 0 0 0;
    text-align: center;
}

#footer .site-logo a img {
    display: inline-block;
}

#footer .toppanel__menu {
    float: none;
    text-align: center;
}

#footer .toppanel__menu-list {
    margin-top: 5px;
    display: inline-block;
}

#footer .toppanel__menu-list>li {
    display: inline-block;
}

.category .col-3 {
    visibility: hidden;
    transition: 0.4s all cubic-bezier(0.2, 0, 0.065, 0.25);
    height: 0;
    overflow-y: scroll;
    padding: 110px 10px 10px 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    z-index: 999;
    box-shadow: -5px 0px 30px -5px rgba(0,0,0,.4);
    background-color: white;
    border-right: 1px solid rgba(0,0,0, 0.1)
}

.category .col-9 {
    width: 100%;
    padding-left: 0;
}

.product_list.grid li .product__img-link {
    height: 225px;
}

.product .btn {
    padding: 15px;
}

.product_list.list .product__content,
.product_list.list .button-container {
    display: block;
    padding: 25px 15px;
    width: auto;
}

.product_list.list .button-container .btn {
    display: inline-block;
    float: left;
    margin-bottom: 0;
}

.product_list.list .button-container .btn:not(:first-child) {
    margin-left: 15px;
}

.product_list.list .button-container {
    padding-top: 0;
}

.toggle-filters {
    display: inline-block;
    border: 1px solid #353645;
    padding: 10px;
    margin-bottom: 7px;
    font-size: 14px;
    transition: all 0.4s ease;
}

.toggle-filters:hover {
    background-color: rgba(0,0,0,0.04);
}

.toggle-filters [class^="flaticon-"]:before, .toggle-filters [class*=" flaticon-"]:before, .toggle-filters [class^="flaticon-"]:after, .toggle-filters [class*=" flaticon-"]:after {
    font-size: 14px;
    margin-right: 5px;
}

.title_block {
    display: inline-block
}

.close_enabled_filters {
    display: block;
    color: #f05c50;
    float: right;
    font-size: 24px;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    z-index: 9999;
    position: relative;
    line-height: 1;
    padding: 2px 5px;
}

.close_enabled_filters:hover {
    background-color: rgba(0,0,0,0.05);
}

.content_sortPagiBar {
    display: block;
}

.category .col-3.opened {
    visibility: visible;
    height: 100%;
}