.container {
    max-width: 100%;
    width: 100%;
}

.content .container,
.homeform .container {
    padding: 50px;
}

.homeslider .swiper-button-next {
    right: 25px;
}

.homeslider .swiper-button-prev {
    left: 25px;
}

.homeslider .swiper-wrap {
    max-width: 100%;
}

.homeform form,
.section-header {
    margin-bottom: 30px;
}

.categoryslider__title {
    font-size: 20px;
    padding: 20px 10px;
}

.categoryslider__img {
    height: 250px;
}

.button-container {
    padding-right: 30px;
}

.product_list.grid li .product__img-link {
    height: 175px;
}

.product__content {
    padding: 25px 10px;
}

.product_list.grid li .product__name {
    margin-bottom: 7px;
}

.product_list.grid li .product__img {
    width: 245px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}