.content .container,
.homeform .container {
    padding: 45px 30px;
}

.homeform form, .section-header {
    margin-bottom: 20px;
}

.section-header__heading {
    font-size: 34px;
}

.homeslider .swiper-wrap {
    padding: 50px 30px;
}

.homeslider .swiper-button-prev {
    left: 15px;
}

.homeslider .swiper-button-next {
    right: 15px;
}

.content .swiper-button-prev {
    left: 0;
}

.content .swiper-button-next {
    right: 0;
}

.categoryslider__img {
    height: 175px;
    margin-bottom: 7px;
}

.productitem {
    padding: 20px;
    text-align: center;
}

.product__content {
    text-align: center;
}

.product__name, .product__manufacturer {
    margin-bottom: 5px;
}

.product__img-link, .product__content, .button-container {
    display: block;
}

.product_list.list .product__content, .product_list.list .button-container {
    padding: 0;
}

.product__img-link {
    width: 100%;
}

.product_list.list .button-container .btn {
    float: none;
}

.title_block, .layered_subtitle_heading, #layered_block_left .layered_subtitle,
.layered_filter a {
    font-size: 14px;
}

.layered_filter a {
    position: relative;
    top: -2px;
}