.recaptcha-wrapper {
    display: block;
    margin-bottom: 0;
}

.g-recaptcha {
    transform: scale(.77);
    transform-origin: 0 0;
    max-width: 232px;
}

#footer .toppanel__menu-list>li {
    display: block;
    float: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 5px;
}

#footer .toppanel__menu-list>li a {
    display: block;
    float: none;
    padding: 5px;
}

.product_list.grid li {
    padding: 0;
}

.product_list.grid .productitem {
    padding: 10px;
}

.product__name, .product__manufacturer {
    font-size: 13px;
}

.product_list.grid li .product__name {
    height: 30px;
    max-width: 90%;
}

.product_list.grid .productitem .btn {
    padding: 10px;
}

.product_list.grid li .product__img-link {
    height: auto;
    margin-bottom: 7px;
}

.button-container .btn:not(:last-child) {
    margin-bottom: 7px;
}

.productsSortForm,
.grid-list-buttons {
    display: block;
    float: none;
}

.productsSortForm {
    margin-bottom: 10px;
}

.productsSortForm .selectProductSort {
    padding-left: 5px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 15px;
}

.product__img-link {
    height: 200px;
}

.product__img {
    width: auto;
    height: 100%;
}

#thumbs_list_frame li:nth-child(n+4) {
    display: none;
}

#image-block {
    height: 250px;
}

.page-heading.product-listing {
    font-size: 20px;
    margin-bottom: 15px;
}