.col-4 {
    width: 100%;
}

.col-4:not(:last-child) .servicebox {
    margin-bottom: 30px;
}

.col-6 {
    width: 100%;
}

#cmsinfo_block .container {
    padding: 45px 50px;
}

.servicebox {
    padding: 0;
}

.servicebox [class^="flaticon-"]:before, .servicebox [class*=" flaticon-"]:before, .servicebox [class^="flaticon-"]:after, .servicebox [class*=" flaticon-"]:after {
    font-size: 70px;
}

.product_list.grid li {
    width: 50%;
    padding: 0 15px;
}

.product_list.grid li:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
}

.pagination__list, .pagination .showall, .product-count {
    display: block;
    float: none;
    overflow: hidden;
    text-align:center;
}

.pagination__list, .pagination .showall {
    margin-bottom: 5px;
}

.pagination__list li {
    float: none;
    padding: 0 5px;
    display: inline-block;
}

.product_list.grid .productitem {
    padding: 20px;
}

.product__name, .product__manufacturer {
    font-size: 18px;
}

.product_list.grid li .product__name {
    height: 42px;
}

.product_list.list .button-container .btn {
    display: block;
    float: none;
    margin-bottom: 10px;
}

.product_list.list .button-container .btn:not(:first-child) {
    margin-left: 0;
    margin-bottom: 0;
}

#views_block {
    width: auto;
    float: none;
    margin-bottom: 20px;
}

#thumbs_list li {
    display: inline-block;
    width: 70px;
}

#thumbs_list li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
}

#image-block {
    float: none;
    width: 100%;
    margin: 0 auto 35px auto;
    position: relative;
    height: 325px;
}

#image-block img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.product .productitem {
    text-align: center;
}

.product .button-container {
    display: block;
}

.product .page-product-box .product__description {
    padding-bottom: 0;
}

.breadcrumbs {
    padding-bottom: 15px;
}

.breadcrumbs li {
    margin-bottom: 10px;
}

.page-heading.product-listing {
    font-size: 24px;
}