.categoryslider .swiper-button-next,
.categoryslider .swiper-button-prev {
    top: auto;
    bottom: 0;
}

.categoryslider .swiper-button-next {
    right: 100px;
}

.categoryslider .swiper-button-prev {
    left: 100px;
}