.section-categories {
    margin-bottom: 70px;
}

.container {
    max-width: 100%;
    width: 100%;
}

#cmsinfo_block .container {
    width: 100%;
}

.servicebox {
    padding: 50px 15px;
}

.servicebox i {
    margin-bottom: 25px;
}

.servicebox [class^="flaticon-"]:before,
.servicebox [class*=" flaticon-"]:before,
.servicebox [class^="flaticon-"]:after,
.servicebox [class*=" flaticon-"]:after {
  font-size: 90px;
}

.content .container,
.homeform .container {
    padding: 50px;
}

.homeslider .swiper-button-next {
    right: 25px;
}

.homeslider .swiper-button-prev {
    left: 25px;
}

.homeslider .swiper-wrap {
    max-width: 100%;
}

.homeform form,
.section-header {
    margin-bottom: 30px;
}

.categoryslider__title {
    font-size: 20px;
    padding: 20px 10px;
}

.categoryslider__img {
    height: 250px;
}

.section-manufacturers {
    padding-top: 50px;
}

.cms .section-manufacturers {
    padding-bottom: 50px;
}

.section-title .container,
.cms .content .section-title .container {
    padding: 0;
    margin-bottom: 0;
}

.manufacturerslider {
    max-width: 100%;
    width: 100%;
}

.manufacturerslider .swiper-button-prev {
    left: -20px;
}

.manufacturerslider .swiper-button-next {
    right: -20px;
}

.button-container {
    padding-right: 30px;
}

.product_list.grid li .product__img-link {
    height: 175px;
    margin-bottom: 10px;
}

.product__content {
    padding: 25px 10px;
}

.product_list.grid li .product__name {
    margin-bottom: 7px;
}

.product_list.grid li .product__img {
    height: 100%;
    display: block;
    position: relative;
    left: auto;
    top: auto;
    transform: none;
}

.product .productitem {
    padding-right: 0;
    padding-left: 10px;
}

.product .product__name {
    font-size: 30px;
}

.product .product__manufacturer {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 15px;
}